<!doctype html>
<html>   

    <head>

        <meta charset="utf-8"/>
        
        <!--**************************************************-->
        <!-- CSS -->
        <!--**************************************************-->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/bootstrap/css/main.css" rel="stylesheet"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"/>
        <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css"/>

        <!--**************************************************-->
        <!-- JAVASCRIPT -->
        <!--**************************************************-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <title>Get Fit</title>

    </head>

    <body ng-app="getfit">

            <div class="container">

                <!-- Navigation Bar -->
                <div class="page-header" ng-controller="NavController">
                    <h1>Get Fit <small>Track yourself to fitness</small></h1>

                    <nav class="navbar" >
                        <ul class="nav nav-tabs menu" id="list">
                            <li role="presentation" id="home">
                                <a href="/#/home">Home</a>
                            </li>
                            <li ng-hide="isLoggedIn()" id="register">
                                <a href="/#/register">Register</a>
                            </li>
                            <li role="presentation" ng-show="isLoggedIn()" id="steps">
                                <a href="/#/steps">Steps</a>
                            </li>
                            <li role="presentation" ng-show="isLoggedIn()" id="heartbeats">
                                <a href="/#/heartbeats">Heartbeat</a>
                            </li>
                            <li ng-show="isLoggedIn()" class="pull-right">
                                <a href="/#/goodbye" ng-click="logOut()">Log Out</a>
                            </li>
                            <li ng-hide="isLoggedIn()" class="pull-right">
                                <a href="/#/login">Log In</a>
                            </li>
                        </ul>
                    </nav>

                    <h2 ng-show="isLoggedIn()" id="you">Hey {{ currentUser() }}!  </h2>
                </div>

                <!-- View -->
                <div id = "view">
                    <ui-view></ui-view>
                </div>
            </div>

    <!--**************************************************-->
    <!-- SCRIPTS -->
    <!--**************************************************-->
        
        <!--**************************************************-->    
        <!-- HOME -->
        <!--**************************************************-->
        <script type="text/ng-template" id="/home.html">

            <section id="homePage">
                <h3 class="section-header">Welcome!</h3>
                This is the home page.
            </section>

        </script>
        
        <!--**************************************************-->
        <!-- STEPS -->
        <!--**************************************************-->        
        <script type="text/ng-template" id="/steps.html">

                <span class = "pull-right">Search Dates <input id ="searchbar" type="text"  placeholder="           yyyy-mm-dd" ng-model="sortStep"></input></span>

                <h3 class="section-header">Enter your steps</h3>
                <div ng-show="error" class="alert alert-danger row" ng-click="remMes()">
                    {{error.message}}
                </div>

                <!-- Adding Steps -->
                <form ng-submit="addStep()" ng-model="all">
                    <pre><md-datepicker ng-model="date" type="date" onkeydown="return false" md-max-date="maxDate"></md-datepicker>     <input type="number" placeholder="Steps" ng-model="step" required></input>     <button type="submit" class="btn btn-success">Add</button></pre>
                </form>

                <!-- Steps Table -->
                <table class="table table-striped">
                    <thead>
                        <tr >
                            <th ng-click="dateSort()">
                                Date
                                <span ng-show="sortKind == 'date' && !sortRev" class="fa fa-caret-down"></span>
                                <span ng-show="sortKind == 'date' && sortRev" class="fa fa-caret-up"></span>
                            </th>
                            <th ng-click="stepSort()">
                                Steps
                                <span ng-show="sortKind == 'step' && !sortRev" class="fa fa-caret-down"></span>
                                <span ng-show="sortKind == 'step' && sortRev" class="fa fa-caret-up"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="s in allSteps | orderBy:sortKind:sortRev | filter:sortStep">
                            <td >
                                <span>{{s.date | date:'yyyy-MM-dd'}}</span>
                                <md-datepicker ng-show="s.editing" ng-model="newDate"  onkeydown="return false" md-max-date="maxDate">
                                </md-datepicker>
                            </td>
                            <td >
                                <span  ng-hide="s.editing">{{s.step}}</span>
                                <input type="number" ng-show="s.editing" ng-model="newSteps"></input>
                            </td>
                            <td >
                                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                                    <button ng-show="s.editing" type="button" class="btn btn-success" ng-click="sendStepEdit(s, newDate, newSteps)">Update</button>
                                    <button ng-show="s.editing" type="button" class="btn btn-danger" ng-click="stopStepEdit(s)">Cancel</button>
                                    <button ng-hide="s.editing" type="button" class="btn btn-info" ng-click="newDate = s.date; newSteps = s.step; startStepEdit(s)">Edit</button>
                                    <button  ng-hide="s.editing" type="button" class="btn btn-danger" ng-click="deleteOneStep(s)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Steps Graph -->
                <h3 class="section-header">Graph your steps</h3>
                <div>
                    <form ng-submit="genChart()">
                        <pre>Start <input ng-model = "startDate" placeholder="     yyyy-mm-dd" required></input>   End <input ng-model="endDate" placeholder="     yyyy-mm-dd" required></input>     <button type = "submit" class="btn btn-warning">Graph</button></pre>
                    </form>
                    <div id="curve_chart"></div>
                </div>

        </script>
        
        <!--**************************************************-->
        <!-- HEARTBEATS -->
        <!--**************************************************-->        
        <script type="text/ng-template" id="/heartbeats.html">

            <span class = "pull-right">Search Dates <input id ="searchbar" type="text" placeholder="            yyyy-mm-dd" ng-model="sortBeat"></input></span>

            <h3 class="section-header">Enter your heartbeats</h3>
            <div ng-show="error"  class="alert alert-danger row" ng-click="remErr()">
                {{error.message}}
            </div>
            
            <!-- Adding Heartbeats -->
            <form ng-submit="addBeat()" ng-model="all" >
                <pre><md-datepicker ng-model="date" type="date" onkeydown="return false" md-max-date="maxDate"></md-datepicker>     <input type="number" placeholder="Min" ng-model="min" required></input>   <input type="number" placeholder="Max" ng-model="max" required></input>   <input type="number" placeholder="Avg" ng-model="avg" required></input>     <button type="submit" class="btn btn-success">Add</button></pre>
            </form>

            <!-- Heartbeat Table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ng-click="sortDate()">
                            Date
                            <span ng-show="sortStyle == 'date' && !flipSort" class="fa fa-caret-down"></span>
                            <span ng-show="sortStyle == 'date' && flipSort" class="fa fa-caret-up"></span>
                        </th>
                        <th ng-click="sortMin()">
                            Min
                            <span ng-show="sortStyle == 'min' && !flipSort" class="fa fa-caret-down"></span>
                            <span ng-show="sortStyle == 'min' && flipSort" class="fa fa-caret-up"></span>
                        </th>
                        <th ng-click="sortMax()">
                            Max
                            <span ng-show="sortStyle == 'max' && !flipSort" class="fa fa-caret-down"></span>
                            <span ng-show="sortStyle == 'max' && flipSort" class="fa fa-caret-up"></span>
                        </th>
                        <th ng-click="sortAvg()">
                            Avg
                            <span ng-show="sortStyle == 'avg' && !flipSort" class="fa fa-caret-down"></span>
                            <span ng-show="sortStyle == 'avg' && flipSort" class="fa fa-caret-up"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr  ng-repeat="b in allBeats | orderBy:sortStyle:flipSort | filter:sortBeat">
                        <td >
                            <span>{{b.date | date:'yyyy-MM-dd'}}</span>
                            <md-datepicker ng-show="b.editing" ng-model="newDate" type="date" onkeydown="return false" md-max-date="maxDate">
                            </md-datepicker>
                        </td>
                        <td >
                            <span  ng-hide="b.editing" >{{b.min}}</span>
                            <input ng-show="b.editing" type="number" ng-model="newMin" required></input>
                        </td>
                        <td >
                            <span  ng-hide="b.editing">{{b.max}}</span>
                            <input ng-show="b.editing" type="number" ng-model="newMax" required></input>
                        </td>
                        <td >
                            <span  ng-hide="b.editing">{{b.avg}}</span>
                            <input ng-show="b.editing" type="number" ng-model="newAvg" required></input>
                        </td>
                        <td >
                            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                                <button ng-show="b.editing" type="button" class="btn btn-success" ng-click="sendBeatEdit(b, newDate, newMin, newMax, newAvg)">Update</button>
                                <button ng-show="b.editing" type="button" class="btn btn-danger" ng-click="stopBeatEdit(b)">Cancel</button>
                                <button ng-hide="b.editing" type="button" class="btn btn-info" ng-click="newDate = b.date ; newMin = b.min ; newMax = b.max ; newAvg = b.avg ; startBeatEdit(b)">Edit</button>
                                <button  ng-hide="b.editing" type="button" class="btn btn-danger" ng-click="deleteOneBeat(b)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- HeartBeat Graph -->
            <h3 class="section-header">Graph your heartbeats</h3>
            <div>
                <form ng-submit="makeChart()">
                    <pre>Start  <input ng-model = "beginDate" placeholder = "     yyyy-mm-dd" required></input>   End  <input ng-model = "lastDate" placeholder = "     yyyy-mm-dd" required></input>   <input type="radio" name="chartType" ng-click="maxChart()" checked> Max</input>    <input type="radio" name="chartType" ng-click="minChart()"> Min</input>   <input type="radio" name="chartType" ng-click="avgChart()"> Avg</input>     <button type ="submit" class="btn btn-warning">Graph</button></pre>
                </form>
                <div id="curve_chart"></div>
            </div>

        </script>
        
        <!--**************************************************-->
        <!-- REGISTER -->
        <!--**************************************************-->
        <script type="text/ng-template" id="/register.html">
            <section id ="registerPage">
                <form ng-submit="register()">
                    <h3 class="section-header">Register Now</h3>
                    <div ng-show="error" class="alert alert-danger row">
                        {{error.message}}
                    </div>

                    <div class = "form-group">
                        <input pattern=".{6,20}" required title="Username must be 6 to 20 characters" type="text" class="form-control" placeholder="Username"
                               ng-model="user.username">
                        </input>
                    </div>

                    <div class = "form-group">
                        <input pattern=".{6,20}" required title="Password must be 6 to 20 characters" type="password" class="form-control" placeholder="Password"
                               ng-model="user.password"></input>
                    </div>

                    <button type="submit" class="btn btn-primary">Sign Me Up</button>
                </form>
            </section>

        </script>
        
        <!--**************************************************-->
        <!-- LOGIN -->
        <!--**************************************************-->
        <script type="text/ng-template" id="/login.html">

            <section id ="loginPage">

                <form ng-submit="logIn()">
                    <h3 class="section-header">Welcome Back</h3>
                    <div ng-show="error" class="alert alert-danger row">
                        {{error.message}}
                    </div>

                    <div class="form-group">
                        <input pattern=".{6,20}" required title="Username must be 6 to 20 characters" type="text" class="form-control" placeholder="Username"
                               ng-model="user.username">
                        </input>
                    </div>

                    <div class="form-group">
                        <input pattern=".{6,20}" required title="Password must be 6 to 20 characters" type="password" class="form-control" placeholder="Password"
                               ng-model="user.password"></input>
                    </div>

                    <button type="submit" class="btn btn-primary">Let Me In</button>
                </form>
            </section>

        </script>
        
        <!--**************************************************-->
        <!-- WELCOME -->
        <!--**************************************************-->
        <script type="text/ng-template" id="/welcome.html">

            <section id ="welcomePage">
                Welcome to Get Fit. Now You can start tracking your fitness stats.
                At the moment we track as well as graph steps and heartbeat. Navigate to the desired tab to get started.
            </section>

        </script>
        
        <!--**************************************************-->        
        <!-- GOODBYE  -->
        <!--**************************************************-->
        <script type="text/ng-template" id="/goodbye.html">

            <section id ="goodbyePage">
                Goodbye! We hope to see you soon. Keep Running...
            </section>

        </script>

        <!--**************************************************-->        
        <!-- MODULES -->
        <!--**************************************************-->
        <script src="/javascripts/angularApp.js"></script>
        
        <!--**************************************************-->
        <!-- CONTROLLERS -->
        <!--**************************************************-->
        <script src="/javascripts/controllers/stepController.js"></script>
        <script src="/javascripts/controllers/authController.js"></script>
        <script src="/javascripts/controllers/navController.js"></script>
        <script src="/javascripts/controllers/heartbeatController.js"></script>
        
        <!--**************************************************-->
        <!-- SERVICES -->
        <!--**************************************************-->
        <script src="/javascripts/services/stepService.js"></script>
        <script src="/javascripts/services/auth.js"></script>
        <script src="/javascripts/services/heartbeatService.js"></script>
        
        <!--**************************************************-->
        <!-- JQUERY -->
        <!--**************************************************-->
        <script src="/javascripts/jqueries/simplejq.js"></script>

    </body>

</html>