/***********************************/
/* TAGS */
/***********************************/
/* all small text, used for motto only */
small{
    padding-left: 10px;
}

/* all unordered lists */
ul{
    list-style-type: none;
}

/***********************************/
/* CLASSES */
/***********************************/
/* class assinged to all primary buttons*/
.btn-primary{
    margin-top: 10px;
}

/* class assinged to <input>'s in Register and Login */
.form-control {
    width: 50%;
}

/* header for the page */
.page-header{
    border-bottom: none;
}

/* header for the section */
.section-header{
    padding: 0px 10px 10px 10px;
    color : black;
}

/***********************************/
/* IDS */
/***********************************/
/* chart */
#curve_chart{
    height: 700px;
}

/* goodbye page */
#goodbyePage{
    background-image: url("../images/runners.jpeg");
    height: 700px;
    background-size:cover;
    color: white;
}

/* home page */
#homePage{
    background-image: url("../images/biking.jpeg");
    height: 700px;
    background-size:cover;
    color: black;
}

/* login page */
#loginPage{
    background-image: url("../images/race.jpg");
    height: 700px;
    background-size:cover;
}

/* register page */
#registerPage{
    background-image: url("../images/gym.jpeg");
    height: 700px;
    background-size:cover;
}

/* welcome page */
#welcomePage{
    background-image: url("../images/healthy.jpg");
    height: 700px;
    background-size:cover;
    color: white;
}

/* main div where each section is displayed*/
#view{
    padding: 10px 10px 10px 10px;
}

/* greeting with user's name */
#you{
    padding-left: 10px;
}